.App {
  text-align: center;
}

.categories {
  border: solid black 1px;
  border-radius: 10px;
  display: flex;
  flex-flow: column nowrap;
  list-style: none;
  padding: 0 10px;
}

.main {
  display: flex;
}

.category {
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  height: min-content;
  padding: 10px;
  width: max-content;
}

.category:hover {
  background-color: rgba(121, 159, 241, 0.3);
  color: white;
}

.category label {
  cursor: pointer;
}

hr {
  margin: 0;
  padding: 0;
}

.product-card {
  border: solid black 1px;
  margin: 1%;
  width: min-content;
}

.product-card img {
  height: 200px;
  width: 150px;
}

.product-card p {
  font-size: medium;
  margin: 0 auto;
  width: 50%;
}

.product-cards-container {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.home-initial-message {
  margin: 20% auto;
}
