.App {
  text-align: center;
}

/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }

}
*/

.App-header {
  align-items: center;
  background-color: white;
  color: #282c34;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

/*
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
*/

.categories {
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  border: solid black 1px;
  padding: 0 10px;  
  border-radius: 10px;
}

.main {
  display: flex;
}

.category {
  height: min-content;
  /* border-bottom: solid black 1px; */
  padding: 10px;  
  display: flex;
  border-radius: 10px;    
}

.category:hover {
  background-color: rgba(121, 159, 241, 0.3);
  color: white;
  cursor: pointer;
}

hr {
  margin: 0;
  padding: 0;
}